{% extends 'base.html.twig' %}

{% block body %}
    <!-- Hero Section -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Organic Ingredients<br />Instant Delivery*</div>
                <a href="#orderpizza" class="page-scroll btn btn-xl">Order Pizza</a>
            </div>
            <p class="text-muted">* Imaginary pizzas will arrive instantaneously</p>
        </div>
    </header>
    <!-- /Hero Section -->


    <!-- Order Pizza -->
    <section id="orderpizza">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pizza Varieties</h2>
                    <h3 class="section-subheading text-muted">Our most popular pizza varieties can be customized with any ingredients.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#order-pizza-modal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('img/pizzas/meatlovers.jpg') }}" class="img-responsive img-thumbnail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Meat Lover's</h4>
                        <p class="text-muted">An Abundance of your favorite Meats &amp; Proteins</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#order-pizza-modal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('img/pizzas/vegetarian.jpg') }}" class="img-responsive img-thumbnail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Vegetarian</h4>
                        <p class="text-muted">Healthy thin-crust, filled with Vetetables &amp; Cheeses</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#order-pizza-modal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('img/pizzas/michaels-fav.jpg') }}" class="img-responsive img-thumbnail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Michael's Favorite</h4>
                        <p class="text-muted">Chicken, Bacon &amp; Jalapenos!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Order Pizza -->


    <!-- Team -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team of Chefs</h2>
                    <h3 class="section-subheading text-muted">Our incredible chefs come from around the world to hand-craft the best pizza you have ever tasted.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/1.jpg') }}" class="img-responsive img-thumbnail">
                        <h4>Gordon Ramsay</h4>
                        <p class="text-muted">Pizza Chef</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/2.jpg') }}" class="img-responsive img-thumbnail">
                        <h4>Michael Simmons<br>Markee Hall</h4>
                        <p class="text-muted">Chief Pizza Executives</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/3.jpg') }}" class="img-responsive img-thumbnail">
                        <h4>Bobby Flay</h4>
                        <p class="text-muted">Pizza Chef</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Together we are an unstoppable pizza force.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /Team -->


    <!-- Order Pizza Modal -->
    <div class="portfolio-modal modal fade" id="order-pizza-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Place an Order</h2>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancel Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Order Pizza Modal -->
{% endblock %}
