{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Organic Ingredients<br />Instant Delivery*</div>
                <a href="#orderpizza" class="page-scroll btn btn-xl">Order Pizza</a>
            </div>
            <p class="text-muted">* Imaginary pizzas will arrive instantaneously</p>
        </div>
    </header>
    <!-- /Header -->


    <!-- Order Pizza -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pizza Varieties</h2>
                    <h3 class="section-subheading text-muted">Our most popular pizza varieties can be customized with any ingredients.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('img/pizzas/1.jpg') }}" class="img-responsive img-thumbnail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Meat Lover's</h4>
                        <p class="text-muted">An Abundance of your favorite Meats &amp; Proteins</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('img/pizzas/2.jpg') }}" class="img-responsive img-thumbnail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Vegetarian</h4>
                        <p class="text-muted">Healthy thin-crust, filled with Vetetables &amp; Cheeses</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-shopping-cart fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('img/pizzas/3.jpg') }}" class="img-responsive img-thumbnail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Michael's Favorite</h4>
                        <p class="text-muted">Chicken, Bacon &amp; Jalapenos!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Order Pizza -->


    <!-- Team -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team of Chefs</h2>
                    <h3 class="section-subheading text-muted">Our incredible chefs come from around the world to hand-craft the best pizza you have ever tasted.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/1.jpg') }}" class="img-responsive img-thumbnail">
                        <h4>Gordon Ramsay</h4>
                        <p class="text-muted">Pizza Chef</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/2.jpg') }}" class="img-responsive img-thumbnail">
                        <h4>Michael Simmons<br>Markee Hall</h4>
                        <p class="text-muted">Chief Pizza Executives</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('img/team/3.jpg') }}" class="img-responsive img-thumbnail">
                        <h4>Bobby Flay</h4>
                        <p class="text-muted">Pizza Chef</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Together we are an unstoppable pizza force.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /Team -->

{% endblock %}
